<a href="https://colab.research.google.com/github/nmlocal/Day1/blob/main/August21_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Hello World Program **

#Input Field for a form

In [10]:
name =input("IVY Walkers Members List: ")
print(name)

IVY Walkers Members List: Guna
Guna

#Assigning values to dataTypes and print

In [11]:
apples =5
banana = 12
smart='guna'
print(apples+banana)
print(len(smart))

17
4

#Converting Datatypes

In [16]:
#String to Number
name="10"
num1=int(name)
print(num1)

# Number to String
num=50
number=str(num)
print(number)

# Print Datatype
print(num, type(num))

10
50
50 <class 'int'>

#input()/print()

In [20]:
name=input("Enter your Group Name :")
print(name)

ageGroup=input("Enter ageGroup people :")
print(ageGroup)

age = int(input("Enter your age :"))
print('Iam just',age,'years old')

Enter your Group Name :IVY WALKERS
IVY WALKERS
Enter ageGroup people :29-42
29-42
Enter your age :29
Iam just 29 years old

#Conditional Statement

In [21]:
name=input("Enter your Group Name :")
print(name)

age = int(input("Enter your age in between 29-42:"))

if age == 29:
  print(name," You are the only Youngster from the Group")

if age >29 and age <=37:
  print(name," You are the middle aged person in the Group")

if age >37:
  print(name," You are the senior member of the Group")

Enter your Group Name :IVY WALKERS
IVY WALKERS
Enter your age in between 29-42:29
IVY WALKERS  You are the only Youngster from the Group

#Keyword list

In [22]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']